*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    position: relative;
}

/* body{
    left side image
    background-image: url("placeholder1.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-attachment: fixed;
} */

.imgContainer{
   height:100%;
   width:100%; 
   overflow: hidden;
   position: absolute; 
   top: 0px;
   left: 0px;
   z-index: -10;
}

.background{
    height: 100%;
    /* opacity: 0.8; */
}

.container-fluid, .row, .left{
    height: 100%;
}

.navbar{
    padding: 8px 0px;
    margin: 15px 10px;
}

.navbar .navTab {
    color: white;
}

.left{
    position: relative;
    position: fixed;
}

/* LEFT ELEMENTS */
/* left image */
/* https://css-tricks.com/how-to-resizeable-background-image/ */
.hello{
    font-family: 'Special Elite', cursive;
    color: white;
    position: absolute;
    text-align: center;
    top: 40%;
    margin: auto;
    left: 0;
    right: 0px;
}

.helloContent {
    font-size: 25px;
}

.helloTitle {
    margin-top: 8px;
}

.yesNo {
    filter: grayscale(100%);
    width: 100%;
    height: 150px;
}

/* RIGHT ELEMENTS */
.right{
    margin-left: 41.5%;
    padding: 0 45px;
}

.center{
    text-align: center;
}

.sectionTitle {
    overflow: hidden;
    text-align: center;
}

.sectionTitle:before,
.sectionTitle:after {
    background-color: #333;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.sectionTitle:before {
    right: 0.5em;
    margin-left: -50%;
}

.sectionTitle:after {
    left: 0.5em;
    margin-right: -50%;
}

.skillTitle{
    /* display: flex;
    justify-content: space-between;
    font-size: 30px; */
    text-align: center;
}

.fas {
    font-size: 45px;
    color: white;
    background: black;
    width: 100%;
    padding: 10px;
}

h5 {
    font-weight: bold;
    padding: 10px;
    margin: 0;
}

.skillBanner {
    width: 100%;
    height: auto;
}

li {
    font-size: 12px;
}

/* PORTFOLIO */
.portImg {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.7;
}

h6 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

a{
    color: black;
    font-weight: bold;
}

.carousel-caption{
    color: black;
}

.carousel-content {
    position: relative;
    color: black;
    display: flex;
    align-items: center;
}

.wrapper {
    position: absolute;
    color: black;
    font-size: 15px;
    font-weight: strong;
    position: absolute;
    width: 90%;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
    -ms-transform: translate(-50%);
    text-align: center;   
}


/* SKILLS BAR */
.bar{
    width: 100%;
    background-color: lightgray;
    margin: 0px 0px 10px 0px;
    padding: 0;
}

.skill{
    background-color: grey;
    display: inline-block;
}

.tag{
    color: white;
    text-align: center;
    width: 100px;
    background-color: black;
    display: inline-block;
}

.percent{
    float: right;
    padding-right: 10px;
}

.html{
    width: 80%;
}
.css{
    width: 80%;
}
.git{
    width: 80%;
}
.javascript{
    width: 70%;
}
.node{
    width: 50%;
}
.mysql{
    width: 70%;
}
.sequelize{
    width: 60%;
}
.mongodb{
    width: 50%;
}
.react{
    width: 50%;
}


/*MEDIA QUERIES */
@media (max-width: 767px) { 
    .container-fluid, .row, .left{
        height: auto;
    }

    .left{
        height: 350px;
    }

    .right{
        margin-left: 50%;
    }

    .imgContainer{
        height:350px;
        width:100%; 
        overflow: hidden;
        position: absolute; 
        top: 0px;
        left: 0px;
        z-index: -10;
    }

    .background {
        width: 100%;
        height: auto;
    }

    .left{
        position: relative;
    }

    .right{
        margin: 0;
    }
}

@media (max-width: 685px) {
    .background {
        width: auto;
        height: 100%;
    }
}

@media (max-height: 309px) {
    .background {
        width: 100%;
        height: auto;
    }
}

@media (max-height: 309px) and (max-width: 1385px) {
    .background {
        width: auto;
        height: 100%;
    }
}

/* @media (max-height: 228px) and (max-width: 1078px) {
    .background {
        width: 100%;
        height: auto;
    }
} */
